<!-- jQuery -->
	<script src="__js__/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="__js__/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="__js__/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="__js__/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="__js__/jquery.flexslider-min.js"></script>
	<script src="__js__/jquery.validate.min.js"></script>
	<script src="__js__/messages_zh.js"></script>
	
	<!-- MAIN JS -->
	<script src="__js__/main.js"></script>

	</body>
</html>