<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{$title}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="__static__/favicon.ico">

	
	<!-- Animate.css -->
	<link rel="stylesheet" href="__css__/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="__css__/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="__css__/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="__css__/flexslider.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="__css__/style.css">

	<!-- Modernizr JS -->
	<script src="__js__/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="__js__/respond.min.js"></script>
	<![endif]-->

	</head>