<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary" class="border js-fullheight">

			<a href="/public/index"><img src="__images__/yinweiweb3_03.png"></a>			
			<nav id="fh5co-main-menu" role="navigation">
				<ul>
					<li class="fh5co-active"><a href="/public/index">主页</a></li>
					<li><a href="/public/blog">博客</a></li>
					<li><a href="/public/photo">相册</a></li>
					<li><a href="/public/resume">简历</a></li>
					<li><a href="/public/contact">联系</a></li>
				</ul>
			</nav>
	<div class="fh5co-footer">
				<p>版权所有 Copyright &copy; 2018.殷威</p>
			</div>
		</aside>		
