{extend name='public/base'} 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />\
{block name='css'}
<style type="text/css">

</style>
{/block}
{block name='main'}
<div id="fh5co-main">
	<div class="fh5co-narrow-content">
		<div class="row">
			<div class="col-sm-10">
				<div class="panel panel-default">
					<div class='panel-heading'>
						<h3 class="panel-title">所有博文</h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped" style='table-layout: fixed;'>
							<thead>
								<tr>
									<th>标题</th>
									<th>类别</th>
									<th>评论数</th>
									<th>阅读数</th>
									<th>操作</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								{volist name="blogs" id="vo"}
								<tr>
									<td>{$vo.title}</td>
									<td>{$vo.category}</td>
									<td>{$vo.msg_num}</td>
									<td>{$vo.watch_num}</td>
									<td><a href="#">编辑</a></td>
									<td><a href="" id="delte_{$vo.blog_id}" onclick="deleteBlog(this);">删除</a></td>
								</tr>
								{/volist}
							</tbody>
						</table>
					</div>
					<ul class="pagination pull-right">
						<li><a href="#">&laquo;</a></li>
						{$pageIndex}
						<li><a href="#">&raquo;</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-2">
				<ul class="list-unstyled">
					<li><a href="/blog/editCategory">编辑分类</a></li>
					<li><a>未分类</a></li> {volist name="categorys" id="vo"}
					<li><a href="#">{$vo.category}</a></li> {/volist}
				</ul>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">


function deleteBlog(pObject)
{
	var res = confirm('确认要删除吗？');
	if(res == true)
	{
		var id = $(pObject).attr("id").split('_')[1];
		$(pObject).parents("tr").remove();
		ajaxCaller("/blog/delete/"+id, []);		
	}else{
		alert("nihao");
	}
}
</script>
{/block}