<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{extend name='public/base'}
{block name='main'}
<div id="fh5co-main">
	<div class="fh5co-narrow-content">
		<div class="row">
			<div class="col-sm-2">
				<h2 class="fh5co-heading animate-box"
					data-animate-effect="fadeInLeft">博客</h2>
			</div>
			<div class="col-sm-10">
				<ul class="list-inline pull-right">
					<li><a class="text-right">添加博文</a></li>
					<li><a class="text-right">管理博文</a></li>
				</ul>
			</div>
		</div>

		<div class="row row-bottom-padded-md">
			<div class="col-md-3 col-sm-6 col-padding animate-box"
				data-animate-effect="fadeInLeft">
				<div class="blog-entry">
					<a href="#" class="blog-img"><img src="__images__/img-1.jpg"
						class="img-responsive"
						alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
					<div class="desc">
						<h3>
							<a href="#">Inspirational Website</a>
						</h3>
						<span><small>by Admin </small> / <small> Web Design
						</small> / <small> <i class="icon-comment"></i> 14
						</small></span>
						<p>Design must be functional and functionality must be
							translated into visual aesthetics</p>
						<a href="#" class="lead">Read More <i
							class="icon-arrow-right3"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}


