{include file="blog@public/header"} 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{block name='css'}
<style type="text/css">
.logo_header {
	positon:fixed;
	margin-top: 10px;
	background-color: #105c4f;
}

span, h2 {
	color: white;
}

h2 {
	line-height: 60px;
	margin-left:10px;
}

.info_txt, .logo_txt {
	height: 60px;
	color: white;
	position: relative;
}

#msg_info {
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #0a3b32;
	position: absolute;
	margin: auto;
	height: 30px;
	width: 300px;
	text-align: center;
	line-height: 30px;
}

.nav_list{
	position:fixed;
	width:150px;
	border:	1px solid #0d5c57;
	margin-left:2px;
	margin-top:10px;
}
.list-group-item img{ margin-left:10px; width:32px; height:32px;}
.list-group-item h3{ display:inline; margin-left:10px; font-size:16px;text-align: center;}

.yw-nav-toggle{
	position:fixed;
	bottom:10px;
	left:10px;
	z-index:999;
	cursor:pointer;
	opacity:1;
	visibility:hidden;
	-webkit-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
}

.yw-nav-toggle i{
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 30px;
  height: 2px;
  color: #000;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #000;
  transition: all .2s ease-out;
}

.yw-nav-toggle i::before, .yw-nav-toggle i::after {
  content: '';
  width: 30px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.yw-nav-toggle i::before{
	top:-7px;	
}

.yw-nav-toggle i::after{
	bottom:-7px;	
}

.yw-nav-toggle:hover i::before{
	top:-10px;	
}

.yw-nav-toggle:hover i::after{
	bottom:-10px;	
}

.yw-nav-toggle:active i::before{
	top:0px;
	-webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);	
}

.yw-nav-toggle:active i::after{
	bottom:0px;
	-webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);	
}

@media screen and (max-width: 768px) {
.yw-nav-toggle{
    opacity: 1;
    visibility: visible;
}
}

</style>
{/block}
<body>
<div class='logo_header'>
	<div class='row'>
		<div class='col-xs-6 col-md-8 logo_txt'>
			<h2>骑着蜗牛去看海的后台</h2>
		</div>
		<div class='col-xs-6 col-md-4 info_txt'>
			<div id="msg_info"><span class='time_show'></span> | 欢迎{:session('username')}回来</div>
		</div>
	</div>   <!-- row end -->	
</div>
<div class='main_content'>
	<div class='nav_list'>
		{include file="admin@public/nav"}
		<a href="#" class="js-yw-nav-toggle yw-nav-toggle"><i></i></a>			<!-- fixed  left bottom -->
	</div>
	<div class='manager_content'>
		{block name="content"}{/block}	
	</div>
</div>

{include file='admin@public/jQueryJs'}

<script type="text/javascript">
	function getDate()
	{		
		var today = new Date();
		var date = today.getFullYear() + "." + twoDigits(today.getMonth() + 1) + "." + twoDigits(today.getDate()) + " ";
		var week = " 星期" + "日一二三四五六 ".charAt(today.getDay());
		var time = twoDigits(today.getHours()) + ": " + twoDigits(today.getMinutes()) + ": " + twoDigits(today.getSeconds());		
		$('.time_show').html(time);
		
	}
	function twoDigits(val)
	{
		if(val < 10) return '0'+ val; else return val;
	}
	


	var navFixed = function() {
	$(".nav_list").css("height",
				$(window).height() - $(".nav_list").position().top);		
		$(window).resize(
				function() {
					$(".nav_list").css("height",
							$(window).height() - $(".nav_list").top);
				})
	}
	

	$(function() {
		navFixed();
		setInterval(getDate, 1000);
	})
</script>

{block name='js'}
{/block}
</body>
</html>