<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<ul class='list-group'>
			<li class='list-group-item'>
				<div class='row'>
					<img src="__images__/5.png" />
					<h3>首页</h3>
				</div>
			</li>
			<li class='list-group-item'>
				<div class='row'>
					<img src="__images__/7.png" />
					<h3>博客管理</h3>
				</div>
			</li>
			<li class='list-group-item'>
				<div class='row'>
					<img src="__images__/8f.png" />
					<h3>相册管理</h3>
				</div>
			</li>
			<li class='list-group-item'>
				<div class='row'>
					<img src="__images__/addressbook64.png" />
					<h3>简历管理</h3>
				</div>
			</li>
			<li class='list-group-item'>
				<div class='row'>
					<img src="__images__/v10.png" />
					<h3>用户管理</h3>
				</div>
			</li>
		</ul>