<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<ul class='list-group'>
			<li class='list-group-item'>
				<div class='row'>
					<img src="__images__/5.png" />
					<h3><a href="{:url('admin/admin/index')}">首页</a></h3>
				</div>
			</li>
			<li class='list-group-item'>
				<div class='row'>
					<img src="__images__/7.png" />
					<h3><a class="collapsed" data-toggle="collapse" data-target="#second_menu">博客管理</a></h3>
				</div>
				<ul class="sub_menu list-unstyled collapse text-right" id="second_menu">
					<li><a href="{:url('admin/blogmanager/index')}">博文列表</a></li>
					<li><a href="{:url('admin/blogmanager/addArticle')}">添加博文</a></li>
				</ul>
			</li>
			<li class='list-group-item'>
				<div class='row'>
					<img src="__images__/8f.png" />
					<h3><a href="{:url('admin/photomanager/index')}">相册管理</a></h3>
				</div>
			</li>
			<li class='list-group-item'>
				<div class='row'>
					<img src="__images__/addressbook64.png" />
					<h3><a href="{:url('admin/resumemanager/index')}">简历管理</a></h3>
				</div>
			</li>
			<li class='list-group-item'>
				<div class='row'>
					<img src="__images__/v10.png" />
					<h3><a class="collapsed" data-toggle="collapse" data-target="#user_second_menu" href="{:url('admin/usermanager/index')}">用户管理</a></h3>
				</div>
				<ul class="list-unstyled collapse text-right" id="user_second_menu">
					<li><a href="#">添加用户</a></li>
					<li><a href="#">用户管理</a></li>
				</ul>
			</li>
		</ul>