{extend name='blog@public/base'}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{block name="css"}
<style type="text/css">
.column{width:100%;#overflow:hidden}
.box{position:relative;width:100%;height:auto;border:1px solid transparent;border-top:1px solid #ddd}
.box:first-child{border-top:1px solid #fff}
.box.top_wrap:first-child:hover{border-top:1px solid #ff6000}
.box .hd{position:relative;height:58px;line-height:58px;background-color:#fff;padding:0 10px;}
.box .hd.on{position:fixed;width:100%;top:0;background-color:#fff;border:1px solid #ddd;border-top:0 none;box-shadow:2px 3px 5px #f5f5f5;z-index:10}
.box .f12{font-size:12px;color:#999;margin-left:5px}
.box .esp,.box .eft{font-size:12px;color:#00457d;padding-left:5px;cursor:pointer}
.box .esp:hover,.box .dle .close:hover,.box .eft:hover{color:#ff6000}
.box .eft{display:block;line-height:20px;padding-left:0}
.box .hd strong{height:30px;line-height:30px;font-size:16px;font-weight:bold;color:#ff6000;vertical-align:baseline;#vertical-align:middle;padding:14px 0;background:none}
.box .hd em{width:30px;height:30px;margin:0 10px;}
.box .hd .e0{background-position:-30px -272px}
.box .hd .e1{background-position:-30px -32px}
.box .hd .e2{background-position:-30px -62px}
.box .hd .e3{background-position:-30px -92px}
.box .hd .e4{background-position:-30px -122px}
.box .hd .e5{background-position:-30px -152px}
.box .hd .e6{background-position:-30px -182px}
.box .hd .e7{background-position:-30px -212px}
.box .hd .e8{background-position:-30px -242px}
.box .add,.box .unadd{position:absolute;height:20px;line-height:20px;font-size:12px;color:#00457d;top:50%;right:30px;margin-top:-10px;padding-left:20px;background-position:-480px 0;cursor:pointer}
.box .add:hover{color:#ff7c42;background-position:-480px -20px}
.box .disable_add{color:#ccc;}
.box .unadd{color:#b0b0b0;background-position:-480px -40px;cursor:default}
.box .tit{position:relative;height:40px;line-height:40px;color:#666;padding:0 30px;background-color:#f5f5f5}
.box .none{display:block;width:380px;height:30px;line-height:30px;color:#b0b0b0;margin:15px auto;padding-left:35px;background-position:-450px -240px}
.box .con{display:inline-block;width:100%;line-height:30px;color:#666;padding:15px}
.box .bd{border-top:1px dotted #ddd;position:relative;height:auto;}
.box .bd:first-child{border-top:none}
.box .con strong{display:block;width:550px;font-weight:bold;color:#333}
.box .con .pp{padding:0 15px}
.box .e{position:relative;float:left;line-height:30px;color:#333;word-break:break-all;padding:0 15px 0 100px}
.box .e.e2{width:258px}
.box .e.e3{min-width:258px;width:auto}
.box .e.e4{width:78px;padding-right:0}
.box .e label{position:absolute;width:61px;color:#666;text-align:justify;text-align-last:justify;top:0;left:15px}
.box .e label:after{display:inline-block;width:100%;height:0;content:'\00a0';overflow:hidden}
.box .e i{position:absolute;font-style:normal;left:85px}
.box .el{padding-left:125px}
.box .el label{width:95px;#width:98px}
.box .el i{left:110px}
.box .ef label{width:70px}
.box .es{padding-left:92px}
.box .es i{left:77px}
.box .head{position:relative;min-height:108px;color:#333;padding:15px 15px 15px 115px}
.box .head .email,.box .head .tel{width:180px;height:20px;line-height:20px;padding-left:25px;background:url(//img01.51jobcdn.com/im/2016/resume/y2.png) no-repeat}
.box .head .email{margin-right:76px;background-image:url(//img01.51jobcdn.com/im/2016/resume/y3.png)}
.box .head .ed_icon_blue{right:0}
.box .face{position:absolute;width:85px;color:#c3c3c3;text-align:center;top:15px;left:15px}
.box .face img{background-color:#fafafa}
.box .face .esp{padding:0 5px}
.box .f2 img{background-color:#f0f0f0}
.box .ok{width:20px;height:20px;margin-left:5px;background-position:-262px -240px}
.box .ok:hover{background-position:-302px -240px}
.box .name{height:30px;line-height:30px;font-size:24px;margin-bottom:18px;#margin-bottom:15px}
.box .tab{height:30px;line-height:30px;margin-top:10px}
.box .cld{color:#ddd !important}
.box .cl3{color:#333 !important}
.box .clb{color:#b0b0b0 !important}
.box .all{position:relative;display:none;color:#666;top:12px;margin-bottom:20px;padding:10px 0;background-color:#fafafa;border:1px solid #eee}
.box .mbox{position:absolute;height:36px;line-height:16px;top:-5px;right:15px;cursor:pointer;z-index:3}
.box .mbox:hover span{color:#ff6000;background-position:-435px -80px}
.box .mbox.on:hover span{color:#ff6000;background-position:-435px -120px}
.box .mbox em{position:absolute;display:none;width:20px;height:20px;right:25px;bottom:-1px;margin:0;background-position:-120px -89px;z-index:3}
.box .mbox span{height:16px;line-height:16px;font-size:12px;color:#00457d;padding-right:15px;background-position:-435px -60px;cursor:pointer}
.box .mbox.on span{background-position:-435px -100px}
.box.m1 .abox{margin:0 15px}
.box.m1 .mbox{height:37px;top:-37px;#height:39px;#top:-39px;right:auto;left:468px}
.box.m1 .all{top:0;margin-bottom:22px;padding-right:15px}
.box .ebox{padding-right:95px}
.box .ebox .abox{margin-right:-80px}
.box .abox{position:relative;line-height:30px}
.box .head .abox{margin-left:-100px}
.box .sp{height:30px}
.box .sp span,.box .sp strong{float:left;width:120px;margin-left:15px}
.box .jian em{font-size:14px;color:#333;margin-left:5px}
.box .fbox{position:relative}
.box strong.fbox{width:190px}
.box .fbox em,.box .cha a{position:absolute;line-height:18px;font-style:normal;font-weight:normal;top:50%;margin-top:-9px}
.box .hai i,.box .guan em{display:inline-block;#display:inline;line-height:16px;#line-height:19px;font-size:12px;font-style:normal;color:#fff;margin-left:5px;padding:1px 3px;background-color:#3cbe7f;border-radius:2px;#zoom:1}
.box .guan em{background-color:#ff9f20}
.box .fbox.hai em{margin-top:-11px\9}
.box .fbox span{float:left;width:auto;max-width:100%;vertical-align:bottom;margin:0}
.box .fbox .zhi{width:100%;text-align:right}
.box .fbox.guan{width:440px;padding-right:50px}
.box .fbox.jian{width:140px;padding-right:50px}
.box .fbox.hai{width:130px;padding-right:60px}
.box .fbox.icon{width:169px;padding-right:21px}
.box .fbox.jian.hai{width:85px;padding-right:105px}
.box .fbox.icon.hai{width:110px;padding-right:80px}
.box .fbox.icon a{display:inline-block;width:20px;height:20px;vertical-align:middle;background:url(//img01.51jobcdn.com/im/2016/resume/icon_resume.png) -258px -240px no-repeat}
.box .fbox.icon a:hover{background-position:-298px -240px}
.box .fbox.icon.hai em{width:80px}
.box .fbox.cha{width:505px;padding-right:45px}
.box .fbox.cha a,.box .fbox.ma a,.box .fbox.sp a{font-size:12px;font-weight:normal;color:#00457d;margin-left:5px}
.box .fbox.ma,.box .fbox.sp{float:left;width:244px;height:52px;line-height:52px;padding:0 100px 0 30px}
.box .fbox.ma a,.box .fbox.sp a{position:absolute;height:30px;line-height:30px;top:50%;margin-top:-15px;padding-left:27px;background:url(//img01.51jobcdn.com/im/2016/resume/spip.png) no-repeat}
.box .fbox.ma a{padding-left:32px;background:url(//img01.51jobcdn.com/im/2016/resume/mast.png) no-repeat}
.box .fbox.ma a:hover,.box .fbox.sp a:hover,.box .cha a:hover{color:#ff6000}
.box .w140{width:135px !important}
.box .w180{width:190px !important}
.box .w280{width:285px !important}
.box .w295{width:295px !important}
.box .w490{width:490px !important}
.box .cell{position:relative}
.box .cell strong{float:left;width:120px;margin:0 15px}
.box .cell span,.box .cell i{position:relative;display:inline-block;width:400px;height:18px;line-height:18px;font-size:12px;color:#fff;top:4px;left:11px;background-color:#ddd;border-radius:20px}
.box .cell i{position:absolute;width:390px;font-style:normal;text-align:right;top:0;left:0;padding-right:10px;background-color:#ff9f20;z-index:3}
.box .sl i{width:290px}
.box .lh i{width:190px}
.box .yb i{width:90px}
.box .com{margin-bottom:24px}
.box .btnbox{padding:0 0 25px}
.box .btox.b2{width:245px}
.box .btox.b2 .btn.on{#width:122px}
.box .ong{float:left;white-space:nowrap}
.box .bd.top_wrap{overflow:hidden}
.box .bd.top_wrap:first-child{border-top:1px solid transparent}
.box.b2 .con{padding-left:0}
.box.b2 .all{margin-left:15px}
.box.b2 .h2 label{width:130px}
.box.b2 .h2 .c3{padding-left:140px}
.box .edit{position:relative;height:auto;}
.box .edit_delete{position:absolute;display:none;width: 80px;height:25px;right:10px;top:15px;overflow:hidden;}
.box .edit.mm{border:1px solid #F22;}
.box .bd.mm{border:1px solid #F22;}

.box .new_add{display:block;width:583px;margin:0 auto;}
.box .red_bd{position:relative;border:1px solid #F00;padding:10px 0px;margin:10px 0px;}
.box .new_add  label{width:80px; color:#234;text-align:right;}
.box .new_add  i{color:#F00;width:10px;}
.box .new_add  span{width:20px;}
.box .new_add  .ip1{width:100px;}
.box .new_add  .ip2{width:223px;}
.box .new_add  .ip3{width:223px;margin-left:13px;}
.box .new_add  .ip4{width:100px;}
.box .new_add  .ip5{width:450px;}
.box .new_add  .noi{margin-left:8px;}
.box .new_add  .choose{border:1px solid #ccc;width:450px;height:30px;margin-left:93px;}
.box .new_add  .choose:hover{background-color:#ccc; cursor:pointer;}
.box .new_add  .word{line-height:30px;width:40px; margin:0 auto;}
.box .new_add  .lb{width:80px; margin-left:20px;margin-right:15px;}
.box .new_add  .btns{text-align:center;}
.box .new_add  textarea{width:395px;margin-left:8px;}
.box .new_add .work_desc{}
.box .new_add .save{margin-right:10px;}
</style>
{/block}
{block name='main'}
<div id="fh5co-main">
	<div class="fh5co-narrow-content">
		<div class="column Fm" id="maincontent">
			<div class="box mk top_wrap" id="basedetail">
				<div class="head" id="Basic">{$base_info}</div>
			</div>
			<div class="box mk top_wrap" id="intention">
				<div class="hd">
					<strong class="icons" id="Career"><em class="e1 icons"></em>求职意向</strong>
				</div>
				<div class="bd" id="jobExpect">{$Career_expected}</div>
			</div>
			<div class="clearfix"></div>
			<div class="box mk">
				<div class="hd">
					<strong class="icons" id="Work"><em class="e2 icons"></em>工作经验
					</strong><a id="work_new" onclick="newButtonClick(this);" class="add icons">新增工作</a>
				</div>
				<div id="work">				
					{$work_empty}
					{volist name="work_history" id="vo"}
					<div class="bd">
						<div class="con edit ebox">
							<div class="sp">
								<span>2018/2-至今</span><strong class="w280 at">{$vo.company_name}</strong><strong
									class="fbox "><span class="zhi at">{$vo.work_position}</span><em></em></strong>
							</div>
							<div class="clearfix"></div>
							<p class="pp at">{$vo.type}&nbsp;|&nbsp;{$vo.company_size}人&nbsp;|&nbsp;{$vo.company_type}&nbsp;|&nbsp;研发部</p>
							<div class="e">
								<label>工作描述</label><i>：</i>
								<div>{$vo.work_description}</div>
							</div>
							<div class="clear clearfix"></div>
							<div class="edit_delete">
								<a id="work_edit_{$vo.id}" href="editButtonClick(this)">编辑</a><a
									id="work_delete_{$vo.id}" href="deleteButtonClick(this)">
									删除</a>
							</div>
						</div>
					</div>
					{/volist}
				</div>
			</div>
			<div class="box mk">
				<div class="hd">
					<strong class="icons" id="Project"><em class="e3 icons"></em>项目经验
					</strong><a id="project_new" onclick="newButtonClick(this);"
						class="add icons">新增项目</a>
				</div>
				<div id="project">
				{$project_empty}
				{volist name="project_history" id="vo"}
					<div class="bd" id="project_view_{$vo.id}">
						<div class="con edit">
							<div class="sp">
								<span>2018/1-至今</span><strong class="fbox guan"><span
									class="at">{$vo.project}</span></strong>
							</div>
							<div class="e">
								<label>公司</label><i>：</i>
								<div>{$vo.company}</div>
							</div>
							<div class="e">
								<label>项目描述</label><i>：</i>
								<div>
									{$vo.project_descript}
								</div>
							</div>
							<div class="e">
								<label>责任描述</label>
								<div>
									{$vo.project_duty}
								</div>
							</div>

							<div class="clear"></div>
							<div class="edit_delete">
								<a>编辑</a><a> 删除</a>
							</div>
						</div>
					</div>					
				{/volist}
				</div>
			</div>
			<div class="box mk">
				<div class="hd">
					<strong class="icons" id="Education"><em class="e4 icons"></em>教育经历
					</strong><a id="education_new" onclick="newButtonClick(this);"
						class="add icons">新增教育</a>
				</div>
				<div id="education">
					{$education_empty}
					{volist name="education_history" id="vo"}
						<div class="bd" id="education_view_{$vo.id}">
						<div class="con edit">
							<div class="sp">
								<span>2012/9-2015/7</span><strong class="fbox "><span
									class="at">{$vo.school}</span><input type="hidden"
									id="education_verify_102031285" value="0"></strong><strong
									class="w140 at">{$vo.study_dir}</strong><span
									class="cl3 w140 at">{$vo.study_process}</span>
							</div>
							<div class="clear"></div>
							<div class="edit_delete">
								<a>编辑</a><a> 删除</a>
							</div>
						</div>
					</div>
					{/volist}
				</div>
			</div>
			<div class="box mk">
				<div class="hd">
					<strong class="icons" id="Graduate"><em class="e5 icons"></em>在校情况</strong>
				</div>
				<div class="tit">
					<span>校内荣誉</span><a id="schoolaward_new"
						onclick="newButtonClick(this);" class="add icons">新增荣誉</a>
				</div>
				<div id="schoolaward">
					{$schoolaward_empty}
					{volist name="schoolaward_history" id="vo"}
					<div class="bd" id="schoolaward_view_67433000">
						<div class="con edit">
							<div class="sp">
								<span>2007/1</span> <strong class="w180 at" title="C++">C++</strong>
								<span class="cl3 w295 at" title="2">2</span>
							</div>
						</div>
					</div>
					{/volist}
				</div>					
				<div class="tit">
					<span>校内职务</span><a id="schooljob_new"
						onclick="newButtonClick(this);" class="add icons">新增职务</a>
				</div>
				<div id="schooljob">
				{$schooljob_empty} 
				{volist name="schooljob_history" id="vo"}
				<div class="bd" id="schooljob_{$vo.resume_id}">
					<div class="con edit">
						<div class="sp">
							<span>2007/1-至今</span> <strong class="w490 at" title="dfd">dfd</strong>
						</div>
						<div class="e">
							<label>{$vo.job}</label><i>：</i>
							<div>{$vo.job_descript}</div>
						</div>
					</div>
				</div>
				{/volist}				
				</div>
			</div>
			<div class="box mk">
				<div class="hd">
					<strong class="icons" id="Skills"><em class="e6 icons"></em>技能特长
					</strong><span class="f12">（包含IT技能、语言能力、证书、成绩、培训经历）</span>
				</div>
				<div class="tit">
					<span>技能/语言</span><a id="skilllanguage_new"
						onclick="newButtonClick(this);" class="add icons">新增技能/语言</a>
				</div>
				<div id="skilllanguage">
				{$skilllanguage_empty}				
					{volist name="skilllanguage_history" id="vo"}
					<div class="bd" id="skilllanguage_view_{$vo.id}">
						<div class="con edit">
							<div class="cell sl">
								<strong class="at" title="{$vo.skill}">{$vo.skill}</strong><span><i>{$vo.level}</i></span>|
								<em class="fork icons"></em>
							</div>
							<div class="edit_delete">
								<a>编辑</a><a> 删除</a>
							</div>
						</div>
					</div>
					{/volist}
				</div>
				<div class="tit">
					<span>证书</span><a id="skillcertification_new"
						onclick="newButtonClick(this);" class="add icons">新增证书</a>
				</div>
				<div id="skillcertification">
				{$skillcertification_empty}				
				{volist name="skillcertification_history" id="vo"}
					<div class="bd" id="skillcertification_view_{$vo.resume_id}">
						<div class="con edit">
							<div class="sp">
								<span></span><strong class="fbox"><span class="at"
									title="大学英语四级">{$vo.certificate}</span><input type="hidden"
									id="skillcertification_verify_78135257" value="0"></strong><span
									class="cl3 w295 at" title=""></span>
							</div>
							<div class="edit_delete">
								<a>编辑</a><a> 删除</a>
							</div>
						</div>
					</div>
					{/volist}
				</div>
				<div class="tit">
					<span>培训经历</span><a id="skilltrain_new"
						onclick="newButtonClick(this);" class="add icons">新增培训</a>
				</div>
				<div id="skilltrain">
					{$skilltrain_empty}					
					{volist name="skilltrain_history" id="vo"}
					<div class="bd" id="skilltrain_view_".{$vo.resume_id}>
						<div class="con edit">
							<div class="sp">
								<span>{$vo.start_time}-{$vo.end_time}</span> <strong class="w180 at" title="ryey">{$vo.course}</strong>
								<span class="cl3 w295 at" >{$vo.orgination}
									(地点：{$vo.adress})</span>
							</div>
							<div class="e">
								<label>培训描述</label><i>：</i>
								<div>{$vo.course_description}</div>
							</div>
							<div class="clear"></div>
							<div class="edit_delete">
								<a>编辑</a><a> 删除</a>
							</div>
						</div>
						</div>
						{/volist}
					</div>
				</div>
			<div class="box mk">
				<div class="hd">
					<strong class="icons" id="Additional"><em class="e7 icons"></em>附加信息
					</strong>
				</div>
				<div class="tit" id="additionattach_title">
					<span>附件</span><a id="additionattach_new"
						onclick="newButtonClick(this);" class="add icons">新增附件</a>
				</div>
				<div id="additionattach">					
					{$additionattach_empty} 
				{volist name="additionattach_history" id="vo"}
				<div class="bd" id="additionattach_view_".{$vo.resume_id}>
					<div class="con edit">
						<div class="e">
							<label>附件</label><i>：</i><strong class="fbox cha"><span
								class="at">{$vo.attach_name}</span><input type="hidden" value="1"
								name="additionattach_1_46917115" id="additionattach_1_46917115"><a
								href="javascript:void(0);"
								onclick="viewPicture('46917115', 'http://i.51job.com/resume/ajax/image.php?type=attachment&amp;userid=85098901&amp;attachid=46917115')">
									查看&gt; </a>
								<div class="clearfix"></div>
								<div class="clear"></div></strong>
						</div>
						<div class="e">
							<label>附件描述</label><i>：</i>
							<div>{$vo.attach_description}</div>
						</div>
						<div class="clear"></div>
							<div class="edit_delete">
								<a>编辑</a><a> 删除</a>
							</div>
					</div>
				</div>
				{/volist}
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
$(".edit").hover(function(){
	$(this).addClass("mm");	$(this).find(".edit_delete").css("display","block");
},function(){$(this).removeClass("mm");$(this).find(".edit_delete").css("display","none");}
)
$(".bd").hover(function(){
	$(this).addClass("mm");	$(this).find(".edit_delete").css("display","block");
},function(){$(this).removeClass("mm");$(this).find(".edit_delete").css("display","none");}
)

$(".cancel").click(function(){
	if($(".add").hasClass("disable_add"))
		$(".add").removeClass("disable_add");
})

//所有的交互；ajax;
function editButtonClick(pObject)
{
	var szType = pObject.id.split('_')[0];
	var workId = pObject.id.split('_')[2];
	$.ajax({
		url:"{:url('resume/resume/editSection')}",
		type:"post",
		data:{"type:":szType,"id":workId},
		datatype:"json",
		async:false,
		success:function(data){
			
		}
	});
}
/**
 * 新增项；
 */
function newButtonClick(pObject)
{
	var szType = pObject.id.split('_')[0];
	var isDisable= $(".add").hasClass("disable_add");
	if(!isDisable){
		$(".add").addClass("disable_add");
	}else
		return;
	$.ajax({
			url : "{:url('resume/resume/addNewHistory')}",
			type : "post",
			data : {
				"type" : szType
			},
			dataType : "json",
			cache : false,
			async : false,
			success : function(data) {
				if (data) {
					if ($("#" + szType + "_empty").length > 0) {
						$("#" + szType + "_empty").remove();
					}
				}
				$("#" + szType).prepend(data);
				$(".add").css("");
			}
		});
	}
/**
 * 基本信息编写；
 */
function baseInfoEditClicked(pObject)
{
	var szType = pObject.id.split('_')[0];
	var isDisable= $(".add").hasClass("disable_add");
	if(!isDisable){
		$(".add").addClass("disable_add");
	}else
		return;


	$.ajax({
			url : "{:url('resume/resume/editBaseInfo')}",
			type : "post",
			data : {
				"type" : szType
			},
			dataType : "json",
			cache : false,
			async : false,
			success : function(data) {
				if (data) {
					if (szType == "base") {
						$("#Basic").html("");
						$("#Basic").append(data);
					} else if (szType == "carrer") {
						$("#jobExpect").html("");
						$("#jobExpect").html(data);
					}
				}
			}
		});
	}
	
/**
 * 按保存按钮；
 */
function saveButtonClicked(pObject)
{
	var saveId = pObject.id;
	var formData = $("#"+ saveId + "_form").serializeArray();  //serializeArray返回json, serialize返回string;
	var obj = {};				//对象转json;
	$.each(formData, function(i,v){
		obj[v.name] = i.value;
	});
	obj["id"] = saveId;
	$.ajax({
		url:"{:url('resume/resume/saveSection')}",
		type:"post",
		data:obj,
		dataType:"json",
		cache : false,
		async : false,
		success : function(data) {
			if(data)
				alert(data);
		}
	});
}
</script>
{/block}
