{extend name='blog@public/base'}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{block name='main'}
<div id="fh5co-main">
	<div class="fh5co-narrow-content">
		<div class="column Fm" id="maincontent">
			<div class="box mk top_wrap" id="basedetail">
				<div class="head" id="Basic">
					<div class="face">
						<img src="http://img01.51jobcdn.com/im/2016/resume/man.png"
							width="85" height="104" alt="头像">
					</div>
					<div class="name">殷威</div>
					<p class="at">现居住深圳&nbsp;│&nbsp;4年工作经验&nbsp;│&nbsp;男&nbsp;│&nbsp;30
						岁 (1988/09/10)&nbsp;│&nbsp;目前正在找工作</p>
					<div class="tab">
						<span class="email icons at" title="1393901022@qq.com">1393901022@qq.com</span>&nbsp;<span
							class="tel icons">17512010910</span>
					</div>
					<div class="abox">
						<div class="mbox" onclick="showMoreClickEvent(this)">
							<span class="icons">更多展开</span><em class="icons"></em>
						</div>
						<div class="all">
							<div class="e e2">
								<label>证件号</label><i>：</i>
								<div>420821198809103013 (身份证)</div>
							</div>
							<div class="e e2">
								<label>婚姻状况</label><i>：</i>
								<div>已婚</div>
							</div>
							<div class="e e2">
								<label>身高</label><i>：</i>
								<div>176cm</div>
							</div>
							<div class="e e2">
								<label>QQ号</label><i>：</i>
								<div>1393901022</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<span class="ed_icon_blue icons" id="basedetail_edit"
					onclick="editButtonClick(this)"></span><span
					class="ed_icon_yellow icons"></span>
			</div>
			<div class="box m1 top_wrap" id="salary">
				<div class="hd">
					<strong class="icons"><em class="e0 icons"></em>目前年收入 </strong>&nbsp;<span
						class="f16">22万元 </span><span class="f12">（包含基本工资、补贴、奖金、股权收益等）</span>
				</div>
				<span class="ed_icon_blue icons" id="salary_edit"
					onclick="editButtonClick(this)"></span><span
					class="ed_icon_yellow icons"></span>
			</div>
			<div class="box mk top_wrap" id="intention">
				<div class="hd">
					<strong class="icons" id="Career"><em class="e1 icons"></em>求职意向</strong>
				</div>
				<div>
					<div class="bd">
						<div class="con">
							<div class="e e3">
								<label>期望薪资</label><i>：</i>
								<div>20-30万元/年</div>
							</div>
							<div class="e e3">
								<label>地点</label><i>：</i>
								<div>
									<span class="ong">广州&nbsp;&nbsp;</span><span class="ong">深圳</span>
								</div>
							</div>
							<div class="e e3 ef">
								<label>职能/职位</label><i>：</i>
								<div>
									<span class="ong">高级软件工程师 &nbsp;&nbsp;</span><span class="ong">算法工程师
									</span><span class="ong">&nbsp;&nbsp;软件工程师</span>
								</div>
							</div>
							<div class="e e3">
								<label>行业</label><i>：</i>
								<div>
									<span class="ong">计算机软件&nbsp;&nbsp;</span><span class="ong">仪器仪表/工业自动化</span>
								</div>
							</div>
							<div class="e">
								<label>个人标签</label><i>：</i>
								<div>
									<span class="ong">高级开发工程师&nbsp;&nbsp;</span><span class="ong">图像算法工程师&nbsp;&nbsp;</span><span
										class="ong">校正&nbsp;&nbsp;</span><span class="ong">图像质量&nbsp;&nbsp;</span><span
										class="ong">项目经理</span>
								</div>
							</div>
							<div class="e e2">
								<label>工作类型</label><i>：</i>
								<div>全职</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<span class="ed_icon_blue icons" id="intention_new"
					onclick="editButtonClick(this)"></span><span
					class="ed_icon_yellow icons"></span>
			</div>
			<div class="box mk">
				<div class="hd">
					<strong class="icons" id="Work"><em class="e2 icons"></em>工作经验
					</strong><a id="work_new" onclick="newButtonClick(this);" class="add icons">新增工作</a>
				</div>
				<div id="work">
					<div class="bd" id="work_view_276328764">
						<div class="con edit ebox">
							<div class="sp">
								<span>2018/2-至今</span><strong class="w280 at"
									title="深圳市三恩时科技有限公司">深圳市三恩时科技有限公司</strong><strong class="fbox "><span
									class="zhi at" title="算法工程师">算法工程师</span><em></em></strong>
							</div>
							<p class="pp at" title="计算机软件 | 150-500人 | 民营公司 | 研发部">计算机软件&nbsp;|&nbsp;150-500人&nbsp;|&nbsp;民营公司&nbsp;|&nbsp;研发部</p>
							<div class="e">
								<label>工作描述</label><i>：</i>
								<div>
									在该公司，主管图像质量综合分析软件（iQstest)的开发：<br>1）作为项目经理，&#x20;主管iQstest开发工作进程；<br>2）&#x20;负责编写iQstest软件架构，&#x20;研究并编写图像质量分析算法；
								</div>
							</div>
							<div class="clear"></div>
							<div class="abox">
								<div class="mbox" onclick="showMoreClickEvent(this)">
									<span class="icons">更多展开</span><em class="icons"></em>
								</div>
								<div class="all">
									<p class="pp at"
										title="
                        下属：2 | 
                        汇报对象：副总">
										下属：2&nbsp;|&nbsp; 汇报对象：副总</p>
									<div class="clear"></div>
								</div>
							</div>
							<span class="ed_icon"><em class="edi icons"
								id="work_edit_276328764" onclick="editButtonClick(this)"></em><em
								class="del icons" id="work_delete_276328764"
								onclick="deleteButtonClick(this)"></em></span>
						</div>
					</div>
					<div class="bd" id="work_view_276312975">
						<div class="con edit ebox">
							<div class="sp">
								<span>2016/4-2018/2</span><strong class="w280 at"
									title="卡莱特（深圳）云科技有限公司">卡莱特（深圳）云科技有限公司</strong><strong
									class="fbox "><span class="zhi at" title="算法工程师">算法工程师</span><em></em></strong>
							</div>
							<p class="pp at" title="计算机软件 | 150-500人 | 民营公司 | 校正部">计算机软件&nbsp;|&nbsp;150-500人&nbsp;|&nbsp;民营公司&nbsp;|&nbsp;校正部</p>
							<div class="e">
								<label>工作描述</label><i>：</i>
								<div>
									在该公司，主要负责校正软件算法开发、校正效果研究：<br>1）&#x20;校正软件算法开发：&#x20;负责开发校正算法，设计校正流程；<br>2）&#x20;对校正效果负责：&#x20;主管提升校正效果，优化校正流程；<br>3）&#x20;出外勤：在公司校正业务比较多或者地方校正有问题的情况下，临时辅助校正或解决校正过程中出现的校正效果问题；
								</div>
							</div>
							<div class="clear"></div>
							<span class="ed_icon"><em class="edi icons"
								id="work_edit_276312975" onclick="editButtonClick(this)"></em><em
								class="del icons" id="work_delete_276312975"
								onclick="deleteButtonClick(this)"></em></span>
						</div>
					</div>
					<div class="bd" id="work_view_276306120">
						<div class="con edit ebox">
							<div class="sp">
								<span>2015/3-2016/4</span><strong class="w280 at"
									title="湖北科威聚成自控有限责任公司">湖北科威聚成自控有限责任公司</strong><strong
									class="fbox "><span class="zhi at" title="自动控制工程师/技术员">自动控制工程师/技术员</span><em></em></strong>
							</div>
							<p class="pp at" title="仪器仪表/工业自动化 | 民营公司 | 研发">仪器仪表/工业自动化&nbsp;|&nbsp;民营公司&nbsp;|&nbsp;研发</p>
							<div class="e">
								<label>工作描述</label><i>：</i>
								<div>
									在该公司，主要负责公司嵌入式产品的预科研、自动控制系统设计：<br>1）基于德州&#x20;ARMCortex-A8和安卓系统开发挂卡式PLC；<br>2）以科威PLC、运动控制器、新产品伺服开发自动控制系统；<br>3)&#x20;&#x20;&#x20;负责地方小项目运动控制系统的开发，并进行现场调试，对接客户需求；
								</div>
							</div>
							<div class="clear"></div>
							<span class="ed_icon"><em class="edi icons"
								id="work_edit_276306120" onclick="editButtonClick(this)"></em><em
								class="del icons" id="work_delete_276306120"
								onclick="deleteButtonClick(this)"></em></span>
						</div>
					</div>
				</div>
			</div>
			<div class="box mk">
				<div class="hd">
					<strong class="icons" id="Project"><em class="e3 icons"></em>项目经验
					</strong><a id="project_new" onclick="newButtonClick(this);"
						class="add icons">新增项目</a>
				</div>
				<div id="project">
					<div class="bd" id="project_view_62469503">
						<div class="con edit">
							<div class="sp">
								<span>2018/1-至今</span><strong class="fbox guan"><span
									class="at" title="图像质量综合分析软件--iQstest">图像质量综合分析软件--iQstest</span></strong>
							</div>
							<div class="e">
								<label>所属公司</label><i>：</i>
								<div>深圳市三恩时科技有限公司</div>
							</div>
							<div class="e">
								<label>项目描述</label><i>：</i>
								<div>
									该项目主要是开发图像质量综合分析软件。该软件通过导入客户拍摄的标版测试卡图像，调用图像质量综合分析模块（ISO或者CIPQ)进行分析，得到图像质量（分辨率、动态范围、畸变、颜色还原等。<br>软件采用qt&#x20;quick&#x20;+&#x20;opencv，以模块进行开发，并设计了定制功能，能够轻松实现工业自动化。
								</div>
							</div>
							<div class="e">
								<label>责任描述</label><i>：</i>
								<div>在该项目中，作为项目经理，负责软件架构设计和重要模块的开发。该软件主要采用了模块化编程，&#x20;接口化编程，在技术上，以图像算法为主，采用了轮廓提取、hog+svm定位、傅里叶变换等等，遵循ISO和CIPQ标准。</div>
							</div>
							<div class="clear"></div>
							<span class="ed_icon"><em class="edi icons"
								id="project_edit_62469503" onclick="editButtonClick(this)"></em><em
								class="del icons" id="project_delete_62469503"
								onclick="deleteButtonClick(this)"></em></span>
						</div>
					</div>
					<div class="bd" id="project_view_62469152">
						<div class="con edit">
							<div class="sp">
								<span>2016/4-2018/2</span><strong class="fbox guan"><span
									class="at" title="灯点定位算法；">灯点定位算法；</span></strong>
							</div>
							<div class="e">
								<label>所属公司</label><i>：</i>
								<div>卡莱特（深圳）云科技有限公司</div>
							</div>
							<div class="e">
								<label>项目描述</label><i>：</i>
								<div>
									该算法主要能够稳定、正确、高效的对灯点进行定位。原有算法在出现连排死灯、毛毛虫灯情况时，不能正确的对灯点进行定位。<br>新算法通过对灯点图像进行二值化、提取轮廓，利用灯点特征进行灯点排奇，&#x20;并进行仿射变换将灯点摆正，采用网格法（改进于GIS油田定位算法）对灯点进行排序。新算法解决了多颗相邻死灯、毛毛虫导致的定位失败，即使在遮挡部分的情况下也能很准确的定位，并且在小间距上解决了偏移半个灯位以下很难准确定位问题；
								</div>
							</div>
							<div class="e">
								<label>责任描述</label><i>：</i>
								<div>该算法由本人独立进行开发，并实际应用，效果不错，达到了预期目的。</div>
							</div>
							<div class="clear"></div>
							<span class="ed_icon"><em class="edi icons"
								id="project_edit_62469152" onclick="editButtonClick(this)"></em><em
								class="del icons" id="project_delete_62469152"
								onclick="deleteButtonClick(this)"></em></span>
						</div>
					</div>
					<div class="bd" id="project_view_62469359">
						<div class="con edit">
							<div class="sp">
								<span>2016/4-2018/2</span><strong class="fbox guan"><span
									class="at" title="亮度校正效果优化">亮度校正效果优化</span></strong>
							</div>
							<div class="e">
								<label>所属公司</label><i>：</i>
								<div>卡莱特（深圳）云科技有限公司</div>
							</div>
							<div class="e">
								<label>项目描述</label><i>：</i>
								<div>该项目是为了提升亮度校正效果。通过对佳能raw进行解码得到原始数据文件，基于灯点提取的基础上，将RGB颜色空间转换为YUV颜色空间，以Y为亮度，对所有灯点亮度进行数据分析，按亮度衰减计算亮度校正系数；</div>
							</div>
							<div class="e">
								<label>责任描述</label><i>：</i>
								<div>该优化由我本人独立完成，进行优化后，&#x20;校正效果提高了一个台阶，已能和诺瓦校正效果进行媲美（客户多次实际比对）；</div>
							</div>
							<div class="clear"></div>
							<span class="ed_icon"><em class="edi icons"
								id="project_edit_62469359" onclick="editButtonClick(this)"></em><em
								class="del icons" id="project_delete_62469359"
								onclick="deleteButtonClick(this)"></em></span>
						</div>
					</div>
					<div class="bd" id="project_view_62469421">
						<div class="con edit">
							<div class="sp">
								<span>2016/4-2018/2</span><strong class="fbox guan"><span
									class="at" title="色度校正">色度校正</span></strong>
							</div>
							<div class="e">
								<label>所属公司</label><i>：</i>
								<div>卡莱特（深圳）云科技有限公司</div>
							</div>
							<div class="e">
								<label>项目描述</label><i>：</i>
								<div>该项目主要是开发色度校正。以积分球、CS2000为采集工具，通过采集每一个灯点的红绿蓝色度坐标，建立灯点大数据，以采集图像灯点红绿蓝刺激值为原始量，通过数据拟合得到实际色度坐标，从而得到转换矩阵。在校正过程中，以亮度均匀性为主，并进行色度均匀性校正。</div>
							</div>
							<div class="e">
								<label>责任描述</label><i>：</i>
								<div>色度校正由本人独立进行研发，并实际应用于艾比森cr系列（小间距）以及洲明。</div>
							</div>
							<div class="clear"></div>
							<span class="ed_icon"><em class="edi icons"
								id="project_edit_62469421" onclick="editButtonClick(this)"></em><em
								class="del icons" id="project_delete_62469421"
								onclick="deleteButtonClick(this)"></em></span>
						</div>
					</div>
					<div class="bd" id="project_view_62468754">
						<div class="con edit">
							<div class="sp">
								<span>2015/3-2016/4</span><strong class="fbox guan"><span
									class="at" title="鞭炮插引机自动控制系统">鞭炮插引机自动控制系统</span></strong>
							</div>
							<div class="e">
								<label>所属公司</label><i>：</i>
								<div>湖北科威聚成自控有限责任公司</div>
							</div>
							<div class="e">
								<label>项目描述</label><i>：</i>
								<div>该项目主要是利用科威运动控制器开发自动鞭炮插引控制系统。通过对运动控制器进行梯形图编程，采用接近开关进行位置控制，在启动、停止时对脉冲进行分段控制，使送盘时匀加速启动，在停盘时又能匀减速停止，避免撞击底部。</div>
							</div>
							<div class="e">
								<label>责任描述</label><i>：</i>
								<div>
									在本项目本人作为系统开发者，与亮工共同完成控制系统的编写。<br>在项目我主要负责控制系统的开发，并到客户现场进行演示。该项目比较急，仅有两天半的时间，最终在我和亮工的通宵达旦下的努力下共同完成了鞭炮自动插引机的控制系统开发，并由我协同销售人员到现场给客户进行演示，效果得到客户的认可。
								</div>
							</div>
							<div class="clear"></div>
							<span class="ed_icon"><em class="edi icons"
								id="project_edit_62468754" onclick="editButtonClick(this)"></em><em
								class="del icons" id="project_delete_62468754"
								onclick="deleteButtonClick(this)"></em></span>
						</div>
					</div>
					<div class="bd" id="project_view_62468949">
						<div class="con edit">
							<div class="sp">
								<span>2015/3-2016/4</span><strong class="fbox guan"><span
									class="at" title="合股机自动控制系统">合股机自动控制系统</span></strong>
							</div>
							<div class="e">
								<label>所属公司</label><i>：</i>
								<div>湖北科威聚成自控有限责任公司</div>
							</div>
							<div class="e">
								<label>项目描述</label><i>：</i>
								<div>该项目主要是利用新产品伺服开发合股机控制系统。总共8台伺服，每台伺服控制一根铜丝，需要将8股铜线合到一起绕到同一个转盘上，该项目的难点主要在于恒张力控制，并要能高速合股；</div>
							</div>
							<div class="e">
								<label>责任描述</label><i>：</i>
								<div>
									在该项目，本人作为系统开发一员，主要负责系统开发研究；<br>在该项目中，本人主要辅助张工完成合股机控制系统的研发。通过伺服位置环三闭环反馈系统控制转盘放卷速度，实时调整脉冲频率，保证连杆稳定在可浮动范围内；
								</div>
							</div>
							<div class="clear"></div>
							<span class="ed_icon"><em class="edi icons"
								id="project_edit_62468949" onclick="editButtonClick(this)"></em><em
								class="del icons" id="project_delete_62468949"
								onclick="deleteButtonClick(this)"></em></span>
						</div>
					</div>
				</div>
			</div>
			<div class="box mk">
				<div class="hd">
					<strong class="icons" id="Education"><em class="e4 icons"></em>教育经历
					</strong><a id="education_new" onclick="newButtonClick(this);"
						class="add icons">新增教育</a>
				</div>
				<div id="education">
					<div class="bd" id="education_view_102031285">
						<div class="con edit">
							<div class="sp">
								<span>2012/9-2015/7</span><strong class="fbox "><span
									class="at" title="武汉科技大学">武汉科技大学</span><input type="hidden"
									id="education_verify_102031285" value="0"></strong><strong
									class="w140 at" title="模式识别与智能系统">模式识别与智能系统</strong><span
									class="cl3 w140 at">硕士</span>
							</div>
							<div class="clear"></div>
							<span class="ed_icon"><em class="edi icons"
								id="education_edit_102031285" onclick="editButtonClick(this)"></em><em
								class="del icons" id="education_delete_102031285"
								onclick="deleteButtonClick(this)"></em></span>
						</div>
					</div>
					<div class="bd" id="education_view_102031252">
						<div class="con edit">
							<div class="sp">
								<span>2008/9-2012/5</span><strong class="fbox "><span
									class="at" title="武汉科技大学">武汉科技大学</span><input type="hidden"
									id="education_verify_102031252" value="0"></strong><strong
									class="w140 at" title="自动化">自动化</strong><span
									class="cl3 w140 at">本科</span>
							</div>
							<div class="clear"></div>
							<span class="ed_icon"><em class="edi icons"
								id="education_edit_102031252" onclick="editButtonClick(this)"></em><em
								class="del icons" id="education_delete_102031252"
								onclick="deleteButtonClick(this)"></em></span>
						</div>
					</div>
				</div>
			</div>
			<div class="box mk">
				<div class="hd">
					<strong class="icons" id="Graduate"><em class="e5 icons"></em>在校情况
					</strong>
				</div>
				<div class="tit">
					<span>校内荣誉</span><a id="schoolaward_new"
						onclick="newButtonClick(this);" class="add icons">新增荣誉</a>
				</div>
				<div id="schoolaward">
					<div class="none icons" id="schoolaward_empty">完善校内荣誉，展现学习能力，让HR更了解你！</div>
				</div>
				<div class="tit">
					<span>校内职务</span><a id="schooljob_new"
						onclick="newButtonClick(this);" class="add icons">新增职务</a>
				</div>
				<div id="schooljob">
					<div class="none icons" id="schooljob_empty">完善校内职务，展现校园活动经验，让HR更了解你！</div>
				</div>
			</div>
			<div class="box mk">
				<div class="hd">
					<strong class="icons" id="Skills"><em class="e6 icons"></em>技能特长
					</strong><span class="f12">（包含IT技能、语言能力、证书、成绩、培训经历）</span>
				</div>
				<div class="tit">
					<span>技能/语言</span><a id="skilllanguage_new"
						onclick="newButtonClick(this);" class="add icons">新增技能/语言</a>
				</div>
				<div id="skilllanguage">
					<div class="bd" id="skilllanguage_view_27356270">
						<div class="con edit">
							<div class="cell sl">
								<strong class="at" title="Linux">Linux</strong><span><i>熟练</i></span>|
								<em class="fork icons"></em>
							</div>
							<span class="ed_icon"><em class="edi icons"
								id="skilllanguage_edit_27356270" onclick="editButtonClick(this)"></em><em
								class="del icons" id="skilllanguage_delete_27356270"
								onclick="deleteButtonClick(this)"></em></span>
						</div>
					</div>
					<div class="bd" id="skilllanguage_view_151941880">
						<div class="con edit">
							<div class="cell">
								<strong class="at" title="MFC">MFC</strong><span><i>精通</i></span>|
								<em class="fork icons"></em>
							</div>
							<span class="ed_icon"><em class="edi icons"
								id="skilllanguage_edit_151941880"
								onclick="editButtonClick(this)"></em><em class="del icons"
								id="skilllanguage_delete_151941880"
								onclick="deleteButtonClick(this)"></em></span>
						</div>
					</div>
					<div class="bd" id="skilllanguage_view_151926421">
						<div class="con edit">
							<div class="cell">
								<strong class="at" title="qt&nbsp;&nbsp;quick">qt&#x20;&#x20;quick</strong><span><i>精通</i></span>|
								<em class="fork icons"></em>
							</div>
							<span class="ed_icon"><em class="edi icons"
								id="skilllanguage_edit_151926421"
								onclick="editButtonClick(this)"></em><em class="del icons"
								id="skilllanguage_delete_151926421"
								onclick="deleteButtonClick(this)"></em></span>
						</div>
					</div>
					<div class="bd" id="skilllanguage_view_151926441">
						<div class="con edit">
							<div class="cell sl">
								<strong class="at" title="Matlab">Matlab</strong><span><i>熟练</i></span>|
								<em class="fork icons"></em>
							</div>
							<span class="ed_icon"><em class="edi icons"
								id="skilllanguage_edit_151926441"
								onclick="editButtonClick(this)"></em><em class="del icons"
								id="skilllanguage_delete_151926441"
								onclick="deleteButtonClick(this)"></em></span>
						</div>
					</div>
					<div class="bd" id="skilllanguage_view_27356269">
						<div class="con edit">
							<div class="cell">
								<strong class="at" title="C/C++">C/C++</strong><span><i>精通</i></span>|
								<em class="fork icons"></em>
							</div>
							<span class="ed_icon"><em class="edi icons"
								id="skilllanguage_edit_27356269" onclick="editButtonClick(this)"></em><em
								class="del icons" id="skilllanguage_delete_27356269"
								onclick="deleteButtonClick(this)"></em></span>
						</div>
					</div>
				</div>
				<div class="tit">
					<span>证书</span><a id="skillcertification_new"
						onclick="newButtonClick(this);" class="add icons">新增证书</a>
				</div>
				<div id="skillcertification">
					<div class="bd" id="skillcertification_view_78135257">
						<div class="con edit">
							<div class="sp">
								<span></span><strong class="fbox"><span class="at"
									title="大学英语四级">大学英语四级</span><input type="hidden"
									id="skillcertification_verify_78135257" value="0"></strong><span
									class="cl3 w295 at" title=""></span>
							</div>
							<span class="ed_icon"><em class="edi icons"
								id="skillcertification_edit_78135257"
								onclick="editButtonClick(this)"></em><em class="del icons"
								id="skillcertification_delete_78135257"
								onclick="deleteButtonClick(this)"></em></span>
						</div>
					</div>
				</div>
				<div class="tit">
					<span>培训经历</span><a id="skilltrain_new"
						onclick="newButtonClick(this);" class="add icons">新增培训</a>
				</div>
				<div id="skilltrain">
					<div class="none icons" id="skilltrain_empty">完善培训经历，展现更多专业技能，让HR更了解你！</div>
				</div>
			</div>
			<div class="box mk">
				<div class="hd">
					<strong class="icons" id="Additional"><em class="e7 icons"></em>附加信息
					</strong>
				</div>
				<div class="tit" id="additionattach_title">
					<span>附件</span><a id="additionattach_new"
						onclick="newButtonClick(this);" class="add icons">新增附件</a>
				</div>
				<div id="additionattach">
					<div class="bd" id="additionattach_view_46917115">
						<div class="con edit">
							<div class="e">
								<label>附件</label><i>：</i><strong class="fbox cha"><span
									class="at">卡莱特校正软件</span><input type="hidden" value="1"
									name="additionattach_1_46917115" id="additionattach_1_46917115"><a
									href="javascript:void(0);"
									onclick="viewPicture('46917115', 'http://i.51job.com/resume/ajax/image.php?type=attachment&amp;userid=85098901&amp;attachid=46917115')">
										查看&gt; </a>
									<div class="clear"></div></strong>
							</div>
							<div class="e">
								<label>附件描述</label><i>：</i>
								<div>校正软件：&#x20;按照校正对象来分，有整屏、单箱校正两种校正方式；&#x20;按照校正方式来分，则有亮度校正、色度校正两种校正方式。通过连接校正相机、光枪，软件控制相机、LED屏进行实时的三色采集，基于光学进行亮度、色度的反估算、以亮度均匀性、色度均匀性为目标，采取控制LED的电流、频率大小从而调整灯点的亮度、混色。</div>
							</div>
							<div class="clear"></div>
							<span class="ed_icon"><em class="edi icons"
								id="additionattach_edit_46917115"
								onclick="editButtonClick(this)"></em><em class="del icons"
								id="additionattach_delete_46917115"
								onclick="deleteButtonClick(this)"></em></span>
						</div>
					</div>
					<div class="bd" id="additionattach_view_46923280">
						<div class="con edit">
							<div class="e">
								<label>附件</label><i>：</i><strong class="fbox cha"><span
									class="at">图像质量分析软件--iQstest</span><input type="hidden"
									value="1" name="additionattach_1_46923280"
									id="additionattach_1_46923280"><a
									href="javascript:void(0);"
									onclick="viewPicture('46923280', 'http://i.51job.com/resume/ajax/image.php?type=attachment&amp;userid=85098901&amp;attachid=46923280')">
										查看&gt; </a>
									<div class="clear"></div></strong>
							</div>
							<div class="e">
								<label>附件描述</label><i>：</i>
								<div>图像质量分析软件：&#x20;通过导入用户拍摄的标版测试卡图像，调用图像质量分析模块（遵循ISO或CIPQ）对图像进行分析，得到图像质量指标，譬如：&#x20;分辨率、动态范围、颜色还原、畸变等等。</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
