{extend name="blog@public/base" /}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{block name='css'}
<style type="text/css">
.center-vertical {
	position: relative;
	top: 50%;
	width:300px;
	transform: translateY(-50%);
}
</style>
{/block}
{block name='main'}
<div id="fh5co-main">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>				
			</div>
			<div class="modal-content">
				<div class="modal-body" id="imgContainter">
					<img src="#" id="showImg" width="400" height="400">
				</div>
			</div>
		</div>
	</div>
	<div class="fh5co-narrow-content">
		<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">{$album_name}<a class="pull-right" href="/public/photo">返回相册</a></h2>
		<ul class="list-inline">
			<li><button class="btn btn-primary" onclick="deletePhoto();">删除</button></li>
			<li><a href="#" onclick="cancelChoice();">取消</a></li>
			<li><a href="#" onclick="multiChoice();">多选</a></li>
			<li><a href="#" onclick="allChoice();">全选</a></li>
		</ul>
		{volist name="album_photo" id="vo"}
		<div class="col-md-2 col-sm-6 col-padding text-center animate-box">
			<input type="checkbox" class="pull-left checkbox_photo" value="{$vo.album_id}_{$vo.photo_id}">
			<a href="#" class="work image-popup" id = "photo_{$vo.photo_id}" style="background-image: url({$vo.photo_path});" onclick="showPhoto(this);">
			</a>
		</div>
		{/volist}
	</div>
</div>
{/block}
{block name='js'}
<script type="text/javascript">
	$(function(){
		$(".checkbox_photo").attr("checked", true);
		$(".checkbox_photo").hide();
	});
	
	var deletePhotoSuccess=function(data){
		alert(data);
		$(".checkbox_photo:checked").parent("div").remove();
	};
	
	function deletePhoto()
	{
		if($(".checkbox_photo:checked").length <= 0 ) {
			alert("请先选择要删除的图像");
			return;
		}
		var allPhotos = {};
		var idx = 0;
		$(".checkbox_photo:checked").each(function(){
			allPhotos[idx] = $(this).attr("value").split('_');
			idx++;
		});
		ajaxCaller("/public/photo/deletePhotos", allPhotos, deletePhotoSuccess);
	}	
	
	function cancelChoice()
	{
		$(".checkbox_photo").prop("checked", false);
		$(".checkbox_photo").hide();
	}
	
	function multiChoice()
	{
		$(".checkbox_photo").prop("checked", false);
		$(".checkbox_photo").show();
		//alert("nihao");
	}
	
	function allChoice()
	{
		$(".checkbox_photo").prop("checked", true);
		$(".checkbox_photo").show();			
	}
	

	function showPhoto(pObject)
	{
		var imgPath = $("#"+pObject.id).css("background-image");
		imgPath = imgPath.substring(imgPath.indexOf('(') + 2, imgPath.lastIndexOf(')')-1);
		$("#showImg").attr("src", imgPath);
		var windowWidth=$(window).width();
		var windowHeight = $(window).height();
		var theImage = new Image(); 
		theImage.src=$("#showImg").attr("src");
		var imgSrcWidth=theImage.width;
		var imgSrcHeight=theImage.height;		
		var tmpPadding = $(".modal-body").css("padding");
		var dialogWidth = 0, dialogHeight = 0;
	
			var windowRatio = windowWidth/windowHeight;
			var imgRatio =  imgSrcWidth/imgSrcHeight;	
			var newWidth = windowRatio > imgRatio? imgSrcWidth: windowWidth;
			var newHeight = windowRatio > imgRatio? imgSrcHeight: (windowWidth/imgRatio);
			var scale = windowWidth/newWidth > windowHeight/newHeight? windowHeight/newHeight: windowWidth/newWidth;
			newWidth = 0.8 * scale * newWidth;
			newHeight = 0.8 * scale * newHeight;
			$("#showImg").attr("width", newWidth);
			$("#showImg").attr("height", newHeight);
			dialogWidth= 2 * parseInt(tmpPadding) + newWidth;
			dialogHeight = 2 * parseInt(tmpPadding) + newHeight;
			$(".modal-dialog").css("width", dialogWidth).css("height", dialogHeight);			
		
		var newMarginLeft = (windowWidth - parseInt($(".modal-dialog").css("width")))/2;
		var newMarginTop = (windowHeight - parseInt($(".modal-dialog").css("height")))/2;
		
		$(".modal-dialog").css("margin-left", newMarginLeft);
		$(".modal-dialog").css("margin-top", newMarginTop);
		$("#myModal").modal("show");
	}
</script>
{/block}