@CHARSET "UTF-8";
/** 富文本编辑器 **/
.note-editor.note-frame {
    border:none !important;
}
.note-editable{
	min-height:400px;
	max-height:500px;
}
.note-editable::-webkit-scrollbar {
 width:3px;
 height:3px;
 border-radius:20px;
}
.note-editable::-webkit-scrollbar-button {
 display:none;
}
.note-editable::-webkit-scrollbar-track-piece {
 display:none;
}
.note-editable::-webkit-scrollbar-thumb {
 background:#CCC;
 border-radius:20px;
}
/*ueditor富文本编辑器样式*/
.edui-editor-iframeholder{
	min-height:350px;
}
.add-article-box{
	background:#FFF;
	margin-bottom:20px;
	-moz-box-shadow: 0px 1px 5px rgba(0,0,0,.1);
	-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,.1);
	box-shadow: 0px 1px 5px rgba(0,0,0,.1);
	border-radius:5px;
}
.add-article-box-title{
    font-size: 16px;	
    padding: 0px 10px;
    margin: 0;
	border-bottom:#CCC solid 1px;
}
.add-article-box-title span{color:#000; line-height:20px;}
.add-article-box-content{
	padding:10px 15px;
}
.add-article-box-content input{
	margin-bottom:5px;
	height:30;
}
.add-article-box-footer{
	border-top:#FFF solid 1px;
	padding:2px 10px;
	background:#F8F8F8;
	height:45px;
	clear: both;
}
.add-article-box-footer button{
	float:right;
}
/*增加文章栏目选择*/
.add-article-box-content label{
	font-weight:500;
	cursor:pointer;
}
.add-article-box-content input[type=radio]{
    vertical-align: sub;
}
.form-group label{font-weigth:500;color:#000;}
